[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
beautifulsoup4 = "*"

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
isort = "*"
flake8 = "*"
black = "==21.5b1"

[requires]
python_version = "3.8"
